
@{
    ViewData["Title"] = "SignupLP";
}

<h1>Welcome @ViewData["FirstName"] @ViewData["LastName"]</h1><br />
<p>We are happy to hear that your favorite food is @ViewData["FavoriteFood"] and we will keep that in our records. </p><br />
<p>Along with your Favorite band who is @ViewData["FavoriteBand"] and we will save your favorite coffee which is @ViewData["FavoriteCoffee"]</p>

